@keyframes slideIn {
  0% {
    transform: translateY(150px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 1s ease-out forwards;
}


@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 300% 300%;
  animation: gradient-x 8s ease infinite;
}
